header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 63px;
  width: 28%;
}
.shopping-box-wrapper {
  position: relative;
}

.count-number {
  position: absolute;
  top: -13px;
  left: -14px;
  background-color: #ff0000;
  padding: 2.5px 8px;
  border-radius: 50%;
  color: #ffffff;
}
