@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf") format("ttf"),
    url("./fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
